.content-container {
    align-items: center;
    max-height: 80vh;
    max-width: 60vw;
}

.container {
    display: flex;
    justify-content: center;
}

@media (max-width: 512px) {
    .content-container {
        max-width: 95vw;
    }
}
