{% extends "base.html" %} 

{% block head %}
    <title>{{ page.title }}</title>
{% endblock head %} 

{% block content %}
    <h1>Blog do Ivan</h1>
        <article>
            <a href="/blog/zig-python">
                <h4>
                Construindo Bibliotecas Python com Zig - Introdução a Ziggy Pydust
                </h4>
            </a>
            <p>Aprenda como desvenvolver bibliotecas Python com Zig e saiba como Ziggy Pydust deixa isso mais fácil</p>
        </article>
{% endblock content %}

