{% extends "base.html" %} 

{% block head %}
    <title>{{ page.title }}</title>
{% endblock head %} 

{% block content %}
    <main class="container">
    <div class="content-container">
    <h1>Blog do Ivan</h1>
    {% for post in page.pages %}
        <article>
            <a href="{{ post.url }}">
                <h4>
                    {{ post.title }}
                </h4>
            </a>
            <p>{{ post.extra.summary }}</p>
        </article>
    {% endfor %}
    </div>
    </main>
{% endblock content %}

